:root {
  --gray: #465055;
  --dark-gray: #1d2431;
  --white: #f5f4e4;
  --dark-green: #6f8b75;

  --round: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--white);
}

h1 h2 h3 {
  color: var(--dark-gray);
}

a {
  text-decoration: none;
  color: var(--white);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  margin: 128px 16px 64px 16px;
}

img {
  width: 100%;
  border: 2px solid var(--dark-gray);
  border-radius: var(--round);
}

nav {
  background-color: var(--gray);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 32px;
  z-index: 1;
  h1 {
    font-size: 1.5rem;
    color: var(--white);
  }

  .menu {
    display: none;
  }
}

section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;

  h2 {
    grid-column: 1 / span 12;
    padding-right: 16px;
  }
  .section-content {
    grid-column: 1 / span 12;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;

    .headshot {
      width: 256px;
    }

    .thumbnail {
      position: relative;
      width: 100%;

      h3 {
        position: absolute;
        bottom: 32px;
        left: 0;
        padding: 8px;
        background-color: var(--dark-green);
        color: var(--white);
      }
      img {
        transition: 300ms ease all;
      }
    }
    .thumbnail-full {
      width: 100%;
    }
  }
}

.thumbnail:hover {
  img {
    filter: brightness(50%);
  }
}

.disclaimer {
  display: block;

  overflow-x: hidden;
  width: 100vw;

  p {
    background-color: var(--dark-green);
    padding: 8px 32px;
    text-align: center;
  }
}

footer {
  padding: 16px;
  background-color: var(--dark-gray);
  color: var(--white);
}

.contacts {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: start;
}

.copy {
  margin-top: 8px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  section {
    h2 {
      grid-column: 1 / span 2;
      text-align: end;
      border-right: 2px solid var(--dark-gray);
    }
    .section-content {
      grid-column: 3 / span 9;
      .thumbnail {
        width: calc(50% - 4px);
      }
      .thumbnail-full {
        width: 100%;
      }
    }
  }
  footer {
    h2 {
      border-right: 2px solid var(--white);
    }
  }
  .contacts {
    flex-direction: row;
    align-items: center;
  }
  nav {
    .menu {
      display: flex;
      flex-direction: row;
      gap: 16px;

      a {
        color: var(--white);
        padding: 12px;
        border-radius: var(--round);
        transition: 300ms ease all;
      }

      a:hover {
        background-color: var(--dark-gray);
      }
    }
  }
}
